<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>711003129445-t9ueh7mkij8dqhtg2o8b50nku16se362.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.711003129445-t9ueh7mkij8dqhtg2o8b50nku16se362</string>
	<key>API_KEY</key>
	<string>AIzaSyDMFV8CKQpd0aV-B70g1X6pvIq0Vo9ns-o</string>
	<key>GCM_SENDER_ID</key>
	<string>711003129445</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.ticketland.app</string>
	<key>PROJECT_ID</key>
	<string>ticketland-30727</string>
	<key>STORAGE_BUCKET</key>
	<string>ticketland-30727.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:711003129445:ios:0533dc051373fa0dc2288c</string>
</dict>
</plist>
