NODE_ENV=development
CLUSTER_ENDPOINT=https:/$()/api.testnet.solana.com
EUTOPIC_API=http:/$()/192.168.1.11:4000
TICKETLAND_API=http:/$()/192.168.1.11:4001
VAULT=https:/$()/vault.ticketland.io/v1
TICKETLAND_API_PUBKEY=WzEzNSwxMzcsMjM0LDE0MSwxNTgsMTc2LDIxMCwyMTQsMTMsOTMsMTc3LDEwMyw3Miw4MiwyMTAsODcsMTEyLDI1MiwyMTIsMTE4LDE0NSwyNDcsMTYsMjU1LDgsMTEsMTM0LDE1MywxNzMsMzgsMjQ4LDExOF0=
